<div>
    <div class="absolute inset-0">
        <img src="assets/images/auth/bg-gradient.png" alt="image" class="w-full h-full object-cover" />
    </div>

    <div
        class="relative flex justify-center items-center bg-[url(/assets/images/auth/map.png)] dark:bg-[#060818] bg-cover bg-no-repeat bg-center px-6 sm:px-16 py-10 min-h-screen">
        <img src="assets/images/auth/coming-soon-object1.png" alt="image"
            class="top-1/2 left-0 absolute h-full max-h-[893px] -translate-y-1/2" />
        <img src="assets/images/auth/coming-soon-object2.png" alt="image"
            class="top-0 left-24 md:left-[30%] absolute h-40" />
        <img src="assets/images/auth/coming-soon-object3.png" alt="image" class="top-0 right-0 absolute h-[300px]" />
        <img src="assets/images/auth/polygon-object.svg" alt="image" class="bottom-0 absolute end-[28%]" />
        <div
            class="relative bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)] p-2 rounded-md w-full max-w-[870px]">
            <div
                class="relative flex flex-col justify-center bg-white/60 dark:bg-black/50 backdrop-blur-lg px-6 py-1 rounded-md lg:min-h-[458px]">
                <div class="top-6 absolute end-6">
                    <div class="dropdown">
                        <div hlMenu>
                            <button type="button" hlMenuButton
                                class="flex items-center gap-2.5 bg-white dark:bg-black px-2 py-1.5 border border-white-dark/30 hover:border-primary rounded-lg text-white-dark hover:text-primary">
                                <div>
                                    <img [src]="'assets/images/flags/'+ store.locale.toUpperCase() + '.svg'"
                                        alt="image" class="rounded-full w-5 h-5 object-cover" />
                                </div>
                                <div class="font-bold text-base uppercase">{{ store.locale }}</div>
                                <span class="shrink-0">
                                    <icon-caret-down />
                                </span>
                            </button>
                            <ul *hlMenuItems @toggleAnimation
                                class="top-11 ltr:-right-14 sm:ltr:-right-2 rtl:-left-14 sm:rtl:-left-2 gap-2 grid grid-cols-2 !px-2 w-[280px] font-semibold text-dark dark:text-white-dark dark:text-white-light/90">
                                <li *ngFor="let item of store.languageList;">
                                    <button *hlMenuItem="let menuItem" type="button" class="w-full hover:text-primary"
                                        [ngClass]="{ 'bg-primary/10 text-primary': translate.currentLang === item.code }"
                                        (click)="changeLanguage(item)">
                                        <img class="rounded-full w-5 h-5 object-cover"
                                            [src]="'assets/images/flags/'+ item.code.toUpperCase() + '.svg'" alt="" />
                                        <span class="rtl:mr-3 ltr:ml-3">{{ item.name }}</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mx-auto w-full max-w-[440px]">
                    <div class="mb-10">
                        <h1 class="font-extrabold text-primary text-3xl md:text-4xl uppercase !leading-snug" (click)="fireClearAll()">{{'SignIn'|translate}}
                        </h1>
                        <p class="font-bold text-white-dark text-base leading-normal">{{'EnterEmailAndPassword'|translate}}</p>
                    </div>
                    <div class="space-y-5 dark:text-white" (submit)="router.navigate(['/'])">
                        <div>
                            <label for="Email">{{ 'SelectBranch' | translate }}</label>
                            <div class="relative text-white-dark">
                                <ng-select class="form-control" [items]="lstLkps['Branch']" bindLabel="label"
                                    bindValue="value" [(ngModel)]="loginModel.branchId" [clearable]="false">
                                </ng-select>
                            </div>
                        </div>
                        <div>
                            <label for="Email">{{ 'Email' | translate }}</label>
                            <div class="relative text-white-dark">
                                <input id="Email" type="email" placeholder="Enter Email"
                                    class="ps-10 placeholder:text-white-dark form-input"
                                    [(ngModel)]="loginModel.userName" />
                                <span class="top-1/2 absolute -translate-y-1/2 start-4">
                                    <icon-mail [fill]="true" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label for="Password">{{ 'Password' | translate }}</label>
                            <div class="relative text-white-dark">
                                <input id="Password" type="password" placeholder="Enter Password"
                                    class="ps-10 placeholder:text-white-dark form-input"
                                    [(ngModel)]="loginModel.password" />
                                <span class="top-1/2 absolute -translate-y-1/2 start-4">
                                    <icon-lock-dots [fill]="true" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label class="flex items-center cursor-pointer">
                                <input type="checkbox" class="bg-white dark:bg-black form-checkbox" />
                                <span class="text-white-dark">{{ 'RememberMe' | translate }}</span>
                            </label>
                        </div>
                        <button (click)="login()"
                            class="shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)] !mt-6 border-0 w-full btn btn-gradient btnlogin">
                            {{ 'SignIn' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>