<div class="gap-y-4 grid">
    <div class="panel" *ngIf="!asInner">
        <h5 class="mb-4 font-semibold dark:text-white-light text-lg">{{ 'Filters' |
            translate }}</h5>
        <div class="gap-4 lg:grid lg:grid-cols-3">
            <div class="col-span-2">
                <label>{{ 'strSearch' | translate }}</label>
                <input type="text" class="form-input" [(ngModel)]="params.strSearch" />
            </div>
            <div class="flex justify-end items-end">
                <a class="gap-2 h-10 btn btn-primary" (click)="openAddVoucher()">
                    <icon-plus />
                    {{ 'AddNew' | translate }}
                </a>
            </div>
            <div>
                <label>{{ 'AccountType' | translate }}</label>
                <ng-select class="form-control" [items]="lstLkps['lstUserTypes']" bindLabel="label" bindValue="value"
                    (ngModelChange)="accountTypeChanged()" [(ngModel)]="params['accountType']">
                </ng-select>
            </div>
            <div>
                <label>{{ 'AccountName' | translate }}</label>
                <ng-select class="form-control" [items]="lstLkps[accountListLkpKey]" bindLabel="label" bindValue="value"
                    [(ngModel)]="params['accountId']">
                </ng-select>
            </div>
            <div *ngIf="params['accountType'] == 6">
                <label>{{ 'OtherUserType' | translate }}</label>
                <ng-select class="form-control" [items]="lstLkps['OtherUserType']" bindLabel="label" [multiple]="true"
                    bindValue="value" [(ngModel)]="params['subUserTypeId']">
                </ng-select>
            </div>
            <div>
                <label>{{ 'PaymentType' | translate }}</label>
                <ng-select class="form-control" [items]="lstLkps['PaymentType']" bindLabel="label" bindValue="value"
                    [(ngModel)]="params['paymentTypeId']">
                </ng-select>
            </div>
            <div>
                <label>{{ 'FromDate' | translate }}</label>
                <input type="date" class="form-input" [(ngModel)]="params.fromDate" />
            </div>
            <div>
                <label>{{ 'ToDate' | translate }}</label>
                <input type="date" class="form-input" [(ngModel)]="params.toDate" />
            </div>

            <div class="flex justify-end items-end col-span-3">
                <a class="gap-2 h-10 btn btn-success" (click)="search()">
                    <icon-search />
                    {{ 'Search' | translate }}
                </a>
            </div>
        </div>
    </div>

    <div class="overflow-x-scroll panel">
        <div class="flex justify-between">
            <h5 class="mb-4 font-semibold dark:text-white-light text-lg">{{ pageTitle | translate }}</h5>

            <div class="flex justify-between gap-5">
                <span class="font-bold text-lg">Total: <span class="text-lg">{{total|number}}</span></span>
            </div>
        </div>
        <div class="datatable" *ngIf="cols">
            <ng-datatable [rows]="lstData" [columns]="cols" [loading]="loading" [totalRows]="params.rowsCount"
                [isServerMode]="true" [pageSize]="params.ps" [pageSizeOptions]="[10, 15, 30, 50]"
                paginationInfo="{0} to {1} of {2}" (changeServer)="changeServer($event)"
                skin="whitespace-nowrap bh-table-hover">

                <ng-template slot="id" let-r="data">
                    <strong class="text-info">#{{ r.id }}</strong>
                </ng-template>
                <ng-template slot="onDate" let-r="data">
                    <div class="flex items-center gap-2">
                        {{ r.createDate}}
                    </div>
                </ng-template>
                <ng-template slot="accountType" let-r="data">
                    <span class="{{r.type.color}}">{{r.type.label}}</span>
                </ng-template>
                <ng-template slot="accountName" let-r="data">
                    <div class="flex items-center gap-2">
                        {{ r.accountName}}
                    </div>
                </ng-template>
                <ng-template slot="Details" let-r="data">
                    <div class="grid font-bold">
                        <div>
                            {{ 'PaymentType' | translate }} : {{ PaymentMethodMap[r['paymentType']]}}
                        </div>
                        <div>
                            {{ 'Reason' | translate }} : {{ r.paymentMainTypeName}}
                        </div>
                        <ng-container *ngIf="r.voucherTypeCode == 'Cheque'">
                            <div>
                                {{ 'ChequeBankName' | translate }} : {{r['chequeBankName']}}
                            </div>
                            <div>
                                {{ 'ChequeDate' | translate }} : {{r['chequeDate'] | date:'dd/MM/yyyy'}}
                            </div>
                            <div>
                                {{ 'ChequeNumber' | translate }} : {{r['chequeNumber']}}
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
                <ng-template slot="total" let-r="data">
                    <div class="flex items-center gap-2">
                        <div>{{ r.total }}</div>
                    </div>
                </ng-template>
                <ng-template slot="note" let-r="data">
                    <div class="flex items-center gap-2">
                        <div>{{ r.note }}</div>
                    </div>
                </ng-template>
                <ng-template slot="actions" let-r="data">
                    <div class="flex justify-center items-center gap-4">
                        <a (click)="openAddVoucher(r)" class="hover:text-info">
                            <icon-edit class="w-4.5 h-4.5" />
                        </a>
                        <button type="button" (click)="deleteDeleteVoucher(r.id)" class="hover:text-danger">
                            <icon-trash-lines />
                        </button>
                    </div>
                </ng-template>

            </ng-datatable>
        </div>
    </div>
</div>


<modal #addVoucher class="modal-top large-modal lg">
    <ng-template #modalHeader>
        <div class="!py-5">{{ (params['voucherType'] == 0 ? 'AddReceipt' : 'AddPayment') | translate }}</div>
    </ng-template>
    <ng-template #modalBody>
        <app-add-voucher [SetInitial]="addVoucherInitialData" [closeDialog]="closeAddVoucher"></app-add-voucher>
    </ng-template>
</modal>