<div class="lg:space-y-2 lg:grid">
    <div class="lg:flex items-center gap-4">
        <p class="w-40">{{ 'AccountType' | translate }}: </p>
        <div class="lg:flex justify-center items-center gap-4 w-full">
            <ng-select class="w-full form-control" [items]="lstLkps['lstUserTypes']" bindLabel="label" bindValue="value"
                (ngModelChange)="accountTypeChanged()" [(ngModel)]="model['accountType']">
            </ng-select>
            <p class="w-40">{{ 'AccountName' | translate }}: </p>
            <ng-select class="w-full form-control" [items]="lstLkps[accountListLkpKey]" bindLabel="label"
                bindValue="value" [(ngModel)]="model.accountId">
            </ng-select>
        </div>
    </div>
    <div class="lg:flex items-center gap-4">
        <p class="w-40">{{ 'Date' | translate }}: </p>
        <div class="lg:flex justify-center items-center gap-4 w-full">
            <input type="date" class="w-full form-input" [(ngModel)]="model.onDate">
            <p class="w-40">{{ 'Reason' | translate }}: </p>
            <ng-select class="w-full form-control" [items]="lstLkps['VoucherReason']" bindLabel="label"
                bindValue="value" [(ngModel)]="model.paymentMainTypeId">
            </ng-select>
        </div>
    </div>

    <!-- <div class="hidden lg:block flex justify-center items-center gap-4">
        <p class="w-40">{{ '' | translate }}: </p>
    </div> -->

    <div class="lg:flex items-center gap-4">
        <p class="w-40">{{ 'PaymentMethod' | translate }}: </p>
        <div class="lg:flex justify-center items-center gap-4 w-full">
            <ng-select class="w-full form-control" [items]="lstLkps['PaymentMethod']" bindLabel="label" bindValue="str1"
                [(ngModel)]="model.paymentType" (change)="PaymentMethodChanged()">
            </ng-select>
            <p class="w-36">{{ 'Amount' | translate }}: </p>
            <input type="number" class="form-input" [(ngModel)]="model.total">
        </div>
    </div>
    <ng-container *ngIf="currentPaymentType.code == 'Cheque'">
        <div class="lg:flex items-center gap-4">
            <p class="w-40">{{ 'ChequeBank' | translate }}: </p>
            <ng-select class="w-full form-control" [items]="lstLkps['Bank']" bindLabel="label" bindValue="value"
                [(ngModel)]="model.chequeBankId">
            </ng-select>
        </div>
        <div class="lg:flex items-center gap-4">
            <p class="w-40">{{ 'ChequeDate' | translate }}: </p>
            <div class="flex justify-center items-center gap-4 w-full">
                <input type="date" class="form-input" [(ngModel)]="model.chequeDate">
                <p class="w-36">{{ 'ChequeNumber' | translate }}: </p>
                <input type="number" class="form-input" [(ngModel)]="model.chequeNumber">
            </div>
        </div>
    </ng-container>

    <div class="lg:flex justify-center items-center gap-4">
        <p class="w-40">{{ 'Note' | translate }}: </p>
        <textarea class="form-input" rows="3" [(ngModel)]="model.note"></textarea>
    </div>
</div>
<div class="flex justify-end gap-x-1 mt-3">
    <button type="button" (click)="closeDialog()" class="btn-outline-danger btn">{{ 'Discard' |
        translate
        }}</button>
    <a (click)="save()" class="gap-2 cursor-pointer btn btn-secondary">
        <icon-save />
        {{ 'Save' | translate }}
    </a>
</div>