<router-outlet></router-outlet>

<div id="primary-toast"></div>
<div id="secondary-toast"></div>
<div id="success-toast"></div>
<div id="danger-toast"></div>
<div id="warning-toast"></div>
<div id="info-toast"></div>

<div style="display: none;">
    <span class="bg-primary badge"></span>
    <span class="bg-secondary badge"></span>
    <span class="bg-success badge"></span>
    <span class="bg-danger badge"></span>
    <span class="bg-warning badge"></span>
    <span class="bg-info badge"></span>
    <span class="bg-dark badge"></span>
    <span class="badge-outline-primary badge"></span>
    <span class="badge-outline-secondary badge"></span>
    <span class="badge-outline-success badge"></span>
    <span class="badge-outline-danger badge"></span>
    <span class="badge-outline-warning badge"></span>
    <span class="badge-outline-info badge"></span>
    <span class="badge-outline-dark badge"></span>
</div>
<!-- ng generate module pages/Accounts/permission-group/PermissionForm --route pages/Accounts/permission-group/PermissionForm --module app.route-->
<!-- ng generate module pages/Shifts/ShiftsCu --route pages/Shifts/ShiftsCu --module app.route-->
<!-- ng generate module pages/SubAgent/SharedComponents/SubAgentProducts/AddProducts --route pages/SubAgent/SharedComponents/SubAgentProducts/AddProducts --module app.route-->
<!-- ng generate module components/PosItemsSearch --route components/PosItemsSearch --module app.route-->
<!-- ng generate module components/PosExpenses/PosAddExpenses --route components/PosExpenses/PosAddExpenses --module app.route-->
<!-- ng generate directive shared/directives/ShiftBlock -->