<div class="flex justify-between w-full posBox">
    <div class="px-1 w-4/5" id="leftBox">
        <!-- <ng-container *ngIf="Layout.category.layout != 'LV'"> -->
        <ng-container [ngTemplateOutlet]="CategoriesView">
        </ng-container>

        <div>
            <ng-container [ngTemplateOutlet]="ItemsView" [ngTemplateOutletContext]="{cat:selectedCategory}">
            </ng-container>

            <ng-container [ngTemplateOutlet]="PosButtons">
            </ng-container>
        </div>
        <!-- </ng-container> -->
    </div>
    <div class="w-1/5">
        <ng-container [ngTemplateOutlet]="CartView" [ngTemplateOutletContext]="{cat:selectedCategory}">
        </ng-container>
    </div>
</div>



<ng-template #CategoriesView>
    <div class="cat-View-1" id="categoryWrapper">
        <div id="categoryInner">
            <div class="itm cartb {{selectedCategory.value == r.value ? 'selected':''}} "
                *ngFor="let r of lstLkps['ItemGroups']" [attr.data-id]="r.value" (click)="selectCategory(r)">
                <div class="flex w-full">
                    <div class="mg" [style.backgroundImage]="'url(' + (r.str1 ? r.str1 : defaultCategoryImage) + ')'">
                    </div>
                    <div class="flex-1 txts">
                        <p class="p1">{{ r.label }}</p>
                        <!-- <p class="p2">{{ 12 }} {{'Item'|translate}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #QtyView let-item="item">
    <!-- <div class="flex items-center space-x-2 bg-gray-100 py-1 rounded-full w-max">
        <button
            class="flex justify-center items-center bg-white hover:bg-gray-200 rounded-full w-8 h-8 text-black text-xl">
            −
        </button>
        <span class="font-medium text-gray-800 text-lg">{{item.qty ?? 0}}</span>
        <button class="flex justify-center items-center hover:bg-blue-700 rounded-full w-8 h-8 hover:text-white text-xl"
            [ngClass]="item.qty ? 'bg-blue-600 text-white':'bg-white text-blue-700'">
            +
        </button>
    </div> -->
</ng-template>


<ng-template #ItemsView let-cat="cat">
    <div class="itemsViewScroll" id="itemsViewScroll" *ngIf="currentLayout && currentLayout.Items">
        <div class="flex justify-between items-center">
            <p class="p-3 pb-1 font-bold text-2xl">{{selectedCategory.label }} {{'Menu'|translate}}</p>
            <button type="button" class="gap-x-2 btn btn-primary" (click)="btnSearch()">
                <p>{{'Search'|translate}}</p>
                <icon-search />
            </button>
        </div>
        <ng-container *ngIf="currentLayout.Items.style == 0">
            <ng-container [ngTemplateOutlet]="ItemsWidgetView1" [ngTemplateOutletContext]="{cat:cat}">
            </ng-container>
        </ng-container>
        <ng-container *ngIf="currentLayout.Items.style == 1">
            <ng-container [ngTemplateOutlet]="ItemsWidgetView2" [ngTemplateOutletContext]="{cat:cat}">
            </ng-container>
        </ng-container>

    </div>
</ng-template>


<ng-template #ItemsWidgetView1 let-cat="cat">
    <div class="item-View-1" *ngIf="cat">
        <div class="items-grid-setup">
            <div class="flex flex-col justify-between shadow-[4px_6px_10px_-3px_#bfc9d4] itm itemb"
                *ngFor="let r of cat.lstItems" [attr.data-id]="r.id" (click)="selectItem(r)">
                <div class="flex">
                    <div class="mg" [style.backgroundImage]="'url(' + r.img + ')'"></div>
                    <div class="txts">
                        <p class="p1">{{ r.name ?? (common.currLang == 'en' ? r.nameEn : r.nameAr) }}</p>
                        <p class="text-white-dark p2">{{ r.description }} </p>
                    </div>
                </div>
                <div class="flex bx-1">
                    <div class="price">₪{{r.price}} <span class="unit">{{r.unitName}}</span></div>
                    <ng-container [ngTemplateOutlet]="QtyView" [ngTemplateOutletContext]="{item:r}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ItemsWidgetView2 let-cat="cat">
    <div class="item-View-2" *ngIf="cat">
        <!-- <div > -->
        <cdk-virtual-scroll-viewport (scrolledIndexChange)="onScrollIndexChange($event)" *ngIf="chunkedItems?.length"
            [itemSize]="50" class="viewport" id="items-grid-setup">
            <div *cdkVirtualFor="let row of chunkedItems; trackBy: trackByRowIndex" class="items-grid-ch mb-2">
                <div class="flex flex-col justify-between shadow-[4px_6px_10px_-3px_#bfc9d4] itm itemb toWave"
                    *ngFor="let r of row" [attr.data-id]="r.id" (click)="selectItem(r)">
                    <div class="mg" [style.backgroundImage]="'url(' + r.img + ')'"></div>
                    <div class="flex">
                        <div class="px-0.5 txts">
                            <p class="p1">{{ r.name ?? (common.currLang == 'en' ? r.nameEn : r.nameAr) }}</p>
                        </div>
                    </div>
                    <div class="flex bx-1">
                        <div class="price">₪{{r.price}} <span class="unit">{{r.unitName}}</span></div>
                        <ng-container [ngTemplateOutlet]="QtyView" [ngTemplateOutletContext]="{item:r}">
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- <div class="flex flex-col justify-between shadow-[4px_6px_10px_-3px_#bfc9d4] itm itemb toWave"
                [attr.data-id]="r.id" (click)="selectItem(r)">

            </div> -->
        </cdk-virtual-scroll-viewport>
        <!-- </div> -->
    </div>
</ng-template>
<ng-template #CartView>
    <app-cart-items [orderDetails]="model" [cartChangeItemQty]="cartChangeItemQty"
        [checkDiscountAmountLimits]="checkDiscountAmountLimits"
        [calculateInvoiceTotals]="invoiceHelperService.calculateInvoiceTotals"></app-cart-items>
</ng-template>

<ng-template #PosButtons let-cat="cat">
    <div class="buttonsBox" id="buttonsBox">
        <div class="gap-2 grid grid-rows-2 grid-flow-col"
            [ngClass]="{'grid-cols-6': model.invoicePosType != 1,'grid-cols-7':model.invoicePosType == 1}">

            <button *ngIf="p.DisposalInvoice && enableDispose" type="button" class="row-span-2 btn btn-primary"
                (click)="SaveDisposalInvoice()" appShiftBlock>
                {{'SaveDisposalInvoice'|translate}}</button>

            <button *ngIf="p.QuickPay" type="button" class="row-span-2 btn btn-primary" (click)="QuickAutoPay()"
                appShiftBlock>
                {{'QuickPay'|translate}}</button>
            <button type="button" class="btn btn-danger" (click)="logout()">{{'Logout'|translate}}</button>
            <button *ngIf="p.Split" type="button" class="btn btn-secondary" (click)="openSplitInvoice()"
                appShiftBlock>{{'Split'|translate}}</button>
            <button *ngIf="p.Tables" type="button" class="btn btn-primary"
                (click)="toTables()">{{'Tables'|translate}}</button>

            <button *ngIf="p.PrintTicket" type="button" class="btn btn-secondary" appShiftBlock
                (click)="printTicket()">{{'PrintTicket'|translate}}</button>
            <!-- <button  *ngIf="p.QuickPay" type="button" class="btn btn-secondary" appShiftBlock
                (click)="openPosSetup()">{{'Other'|translate}}</button> -->
            <div hlMenu class="dropdown">
                <button type="button" hlMenuButton class="inline-flex w-full btn btn-info dropdown-toggle">
                    {{'Other'|translate}}
                </button>
                <ul *hlMenuItems @toggleAnimation
                    class="ltr:right-0 bottom-full rtl:left-0 !mt-0 mb-1 whitespace-nowrap">
                    <li *ngIf="p.Drawer">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openDrawer()">{{'Drawer'|translate}}</a>
                    </li>
                    <li>
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openPosSetup()">{{'Setup'|translate}}</a>
                    </li>
                    <li *ngIf="p.StockReport">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openStockReport()">{{'StockReport'|translate}}</a>
                    </li>
                    <li *ngIf="p.NoteToKitchen">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="noteToKitchen()">{{'NoteToKitchen'|translate}}</a>
                    </li>
                    <li *ngIf="enablePrintLastClsoedShift && p.LastClosedShiftDetails">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="printLastClosedShiftDetails()">{{'LastClosedShiftDetails'|translate}}</a>
                    </li>
                    <li *ngIf="p.BuyInvoice">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openBuyInvoice()">{{'BuyInvoice'|translate}}</a>
                    </li>
                    <li *ngIf="p.EmployeeInvoice">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openEmployeeInvoice()">{{'EmployeeInvoice'|translate}}</a>
                    </li>
                    <li *ngIf="p.Expenses">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openAddExpenses()">{{'Expenses'|translate}}</a>
                    </li>
                    <li *ngIf="p.DisposalInvoice">
                        <a href="javascript:;" *hlMenuItem="let menuItem"
                            (click)="openDisposalInvoice()">{{'DisposalInvoice'|translate}}</a>
                    </li>
                </ul>
            </div>

            <app-crud-shift [ShowButtons]="true"></app-crud-shift>
            <button *ngIf="p.PendingList" type="button" class="btn btn-dark" (click)="showOrdersList()"
                appShiftBlock>{{'PendingList'|translate}}</button>
            <button *ngIf="p.Pending" type="button" class="btn btn-dark" (click)="PendingBtn()"
                appShiftBlock>{{'Pending'|translate}}</button>
            <button *ngIf="p.DeliveryCustomer && model.invoicePosType == 1" type="button"
                class="row-span-2 btn btn-secondary"
                (click)="SetDeliveryCustomer()">{{'DeliveryCustomer'|translate}}</button>
            <button *ngIf="p.Pay" type="button" class="row-span-2 btn btn-success" (click)="PaymentBtn()"
                appShiftBlock>{{'Pay'|translate}}</button>
            <button *ngIf="p.DisposalInvoice && enableDispose" type="button" class="row-span-2 btn btn-danger"
                (click)="CancelDisposalInvoice()" appShiftBlock>
                {{'CloseDisposalInvoice'|translate}}</button>
        </div>
    </div>
</ng-template>


<app-pay-order-popup></app-pay-order-popup>
<app-select-item-variant-add-on></app-select-item-variant-add-on>
<app-pos-orders-list></app-pos-orders-list>
<app-move-order-items></app-move-order-items>
<app-pos-page-layout></app-pos-page-layout>
<app-note-to-kitchen></app-note-to-kitchen>
<app-pos-stock-report></app-pos-stock-report>
<app-pos-switch-account></app-pos-switch-account>
<app-pos-expenses-list></app-pos-expenses-list>
<app-delivery-customer></app-delivery-customer>
<app-pos-order-details></app-pos-order-details>
<app-pos-items-search></app-pos-items-search>