<div class="gap-y-4 grid">
    <div class="panel">
        <div class="gap-4 grid grid-cols-3">
            <div class="col-span-2">
                <label for="name">{{ 'strSearch' | translate }}</label>
                <input id="name" type="text" class="form-input" [(ngModel)]="params.strSearch"
                    (ngModelChange)="search()" />
            </div>
            <div class="flex justify-end items-end">
                <a [routerLink]="'/stock/items/cu'" class="gap-2 h-10 btn btn-primary">
                    <icon-plus />
                    {{ 'NewItem' | translate }}
                </a>
            </div>
        </div>
    </div>

    <div class="overflow-x-scroll panel">
        <div class="flex justify-between">
            <h5 class="mb-4 font-semibold text-lg dark:text-white-light">{{ 'ItemsList' | translate }}</h5>
            <div class="flex justify-end gap-5">
                <label class="inline-flex">
                    <input type="radio" name="ia" class="form-radio outline-primary peer" [value]="'1'"
                        (ngModelChange)="search()" [(ngModel)]="params.isActive" />
                    <span class="peer-checked:text-primary">{{ 'Active' | translate }}</span>
                </label>
                <label class="inline-flex">
                    <input type="radio" name="ia" class="form-radio outline-danger peer" [value]="'0'"
                        (ngModelChange)="search()" [(ngModel)]="params.isActive" />
                    <span class="peer-checked:text-danger">{{ 'NotActive' | translate }}</span>
                </label>
            </div>
        </div>
        <div class="datatable" *ngIf="cols">
            <ng-datatable [rows]="lstData" [columns]="cols" [sortable]="true" [loading]="loading"
                [totalRows]="params.rowsCount" [isServerMode]="true" [pageSize]="params.ps"
                [pageSizeOptions]="[10, 15, 30, 50]" paginationInfo="{0} to {1} of {2}"
                (changeServer)="changeServer($event)" skin="whitespace-nowrap bh-table-hover" [sortColumn]="params.OB"
                [sortDirection]="params.acs == true ? 'asc' : 'desc'">

                <ng-template slot="id" let-r="data">
                    <strong class="text-info">#{{ r.id }}</strong>
                </ng-template>

                <ng-template slot="nameEn" let-r="data">
                    <div class="flex items-center gap-2">
                        {{ r.nameEn}}
                    </div>
                </ng-template>

                <ng-template slot="nameAr" let-r="data">
                    <div class="flex items-center gap-2">
                        {{ r.nameAr}}
                    </div>
                </ng-template>
                <ng-template slot="groupId" let-r="data">
                    <div class="flex items-center gap-2">
                        {{ r.groupName}}
                    </div>
                </ng-template>
                <ng-template slot="actions" let-r="data">
                    <div class="flex justify-center items-center gap-4">
                        <a [routerLink]="'/stock/items/cu/'+r.id" class="hover:text-info">
                            <icon-edit class="w-4.5 h-4.5" />
                        </a>
                        <button type="button" class="hover:text-danger">
                            <icon-trash-lines />
                        </button>
                    </div>
                </ng-template>

            </ng-datatable>
        </div>
    </div>
</div>