<modal #PosInvItemNote class="modal-top rounded lg">
    <ng-template #modalHeader>
        <div class="!py-2 title">{{componentData.name}}</div>
    </ng-template>
    <ng-template #modalBody>
        <div>
            <div>
                <label>{{ (flag == 'itm' ? 'ItemNote':'InvoiceNote') | translate }} </label>
                <textarea class="form-input" rows="3" [(ngModel)]="model.note"></textarea>
            </div>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <div class="flex justify-end w-full">
            <div class="flex justify-end">
                <button type="button" (click)="closeModel()" class="btn-outline-danger btn">{{
                    'Discard' |
                    translate
                    }}</button>
                <button type="button" (click)="save()" class="rtl:mr-4 ltr:ml-4 btn btn-success">{{ 'Save'
                    | translate }}</button>
            </div>
        </div>
    </ng-template>
</modal>